git+https://github.com/Rapptz/discord.py
dnspython
PyNaCl
async-timeout
opuslib
discord.py[voice]
pip
youtube_dl
aiohttp
websockets
chardet
gspread
pandas
selenium
requests
asyncio
bs4
requests
random_user_agent
free-proxy